body {
    font-family:"Lucida Console", "Courier New", monospace;
    }
    figure{width:80%;
    
   
        
    }    
    
    section{
     background: lavenderblush;
     width:90%;
     margin:auto;
     
   
     
     

        
  }
    
    
    
    
    
    
    
    
    


